{
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 120,
	"requirePragma": false,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
